---
---

<section class="lg:container py-24 px-8 mx-auto">
    <div class="flex flex-col md:flex-row items-start gap-12 lg:gap-20 lg:max-w-5xl mx-auto">
        <div class="w-full md:w-1/2">
            <img
                src="/images/proyectos/btobcomex/logo-dev.svg"
                alt="Construcción y proporciones del logo B TO B Comex"
                class="w-full"
            />
        </div>
        <div class="w-full md:w-1/2 flex justify-end">
            <p class="text-right text-5xl max-w-sm lg:text-6xl font-light leading-tight md:leading-snug tracking-tight text-gray-800">
                Creatividad
                y desarrollo
                de marca
            </p>
        </div>
    </div>
</section>
