---
---
<section class="pb-24 h-full relative">
    <div class="absolute z-10 w-600 left-0 h-48 sm:h-64 md:h-80 lg:h-96 xl:h-130 top-1/2 -translate-y-1/2 bg-[#686868]">
    </div>
    <div class="container sm:px-4 flex justify-end relative">
        <img
            src="/images/proyectos/btobcomex/mockup.png"
            alt="mockup del sitio web de B TO B Comex en laptop y móvil"
            class="z-20 relative w-full h-full md:w-auto sm:h-auto md:max-h-130 xl:max-h-190 rounded-sm"
        />
    </div>
</section>