---
---
<section class="mt-4 sm:mt-24 pb-24 container mx-auto px-8">
    <section class="text-center mb-22">
        <h2 class="text-4xl lg:text-5xl max-w-xl mx-auto font-light">Estrategia y gestión de comunicación digital</h2>
    </section>
    <div class="flex justify-center">
        <img
            src="/images/proyectos/btobcomex/redes.webp"
            alt="redes sociales de B TO B Comex"
            class="w-full h-full md:w-auto sm:h-auto md:max-h-130 xl:max-h-190 rounded-sm"
        />
    </div>
</section>