---
---

<section class="relative pb-24">
    <!-- símbolo decorativo de fondo -->
    <img
        src="/images/proyectos/redgroup/simbolo-linear.svg"
        alt="Símbolo decorativo de Red Group"
        aria-hidden="true"
        loading="lazy"
        class="absolute -bottom-20 sm:-bottom-56 lg:-bottom-80 -right-24 md:-right-16 w-64 sm:w-96 lg:w-150 xl:w-180 pointer-events-none"
        data-aos="fade-left"
        data-aos-duration="1000"
    />

    <div class="container mx-auto px-8 z-10 relative">
        <h2
            class="text-4xl lg:text-5xl max-w-xl mx-auto font-light text-center mb-22"
            data-aos="fade-down"
            data-aos-duration="800"
        >
            Estrategia y gestión de comunicación digital
        </h2>

        <div class="flex flex-col sm:flex-row gap-4 justify-center">
            <img
                src="/images/proyectos/redgroup/flyer-1.webp"
                alt="Viernes Redcomendado"
                loading="lazy"
                class="w-full h-full md:w-auto sm:h-auto md:max-h-130 xl:max-h-190 rounded-sm"
                data-aos="fade-up"
                data-aos-duration="800"
            />
            <img
                src="/images/proyectos/redgroup/flyer-2.webp"
                alt="FocalMode 2026 - Javiera Infante Projects"
                loading="lazy"
                class="w-full h-full md:w-auto sm:h-auto md:max-h-130 xl:max-h-190 rounded-sm"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="150"
            />
            <img
                src="/images/proyectos/redgroup/flyer-3.webp"
                alt="22 fotógrafos, 22 series inéditas"
                loading="lazy"
                class="w-full h-full md:w-auto sm:h-auto md:max-h-130 xl:max-h-190 rounded-sm"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="300"
            />
        </div>

    </div>
</section>
<section
    class="mt-4 sm:mt-24 pb-24 flex justify-center"
    data-aos="fade-up"
    data-aos-duration="800"
>
    <img
        src="/images/proyectos/redgroup/mockup-redes.webp"
        alt="22 fotógrafos, 22 series inéditas"
        loading="lazy"
        class="w-full h-full md:w-auto sm:h-auto md:max-h-130 xl:max-h-190 rounded-sm"
    />
</section>
