---
---

<section class="lg:container py-24 px-8 mx-auto">
    <section class="text-center  mb-22">
        <h2 class="text-4xl lg:text-5xl max-w-xl mx-auto font-light">Diseño y desarrollo web</h2>
    </section>

    <section class="flex flex-col sm:flex-row w-full lg:max-w-5xl mx-auto md:max-h-130">
        <div class="flex-1 min-h-0 overflow-hidden lg:rounded-bl-sm lg:rounded-tl-sm">
            <img
                src="/images/proyectos/redgroup/mockup-1.webp"
                alt="Mockup laptop Redgroup"
                loading="lazy"
                class="w-full h-full max-sm:px-2 max-sm:pb-2 max-sm:rounded-3xl object-contain sm:object-cover block"
            />
        </div>
        <div class="flex-1 min-h-0 overflow-hidden lg:rounded-br-sm lg:rounded-tr-sm">
            <img
                src="/images/proyectos/redgroup/mockup-2.webp"
                alt="Mockup móvil Redgroup"
                loading="lazy"
                class="w-full h-full max-sm:px-2 max-sm:rounded-3xl object-contain sm:object-cover block"
            />
        </div>
    </section>
</section>
