---
---
<section class="mt-4 sm:mt-24 bg-[#e5e5e5] py-8">
    <img
        src="/images/proyectos/atxona/mockup.webp"
        alt="Mockup de la marca Atxona"
        loading="lazy"
        class="w-full h-full mx-auto md:w-auto sm:h-auto rounded-sm"
    />
</section>