---
import Layout from '@/layouts/Layout.astro';
import HeroGradient from '@/components/HeroGradient.astro';
import ContactForm from '@/components/contacto/ContactForm.tsx';
import { SITE_KEY } from "astro:env/client";
---

<Layout
    title="Contacto | Tres Veces Tres"
    canonical="https://tresvecestres.com.ar/contacto"
    metaDescription="Contactanos para conversar sobre tu proyecto, consultas o necesidades de comunicación y marketing."
    metaImg="/images/logo-fondo.webp"
>
    <HeroGradient>
        <span class="flex flex-col items-start w-fit mx-auto text-left">
            <span
                class="italic ml-8 md:ml-16"
                data-aos="fade-down"
                data-aos-duration="700"
            >
                Contanos
            </span>
            <span
                class="italic"
                data-aos="fade-down"
                data-aos-duration="700"
                data-aos-delay="150"
            >
                sobre tu
            </span>
            <strong
                class="font-semibold sm:font-bold ml-16 md:ml-24"
                data-aos="fade-down"
                data-aos-duration="700"
                data-aos-delay="300"
            >
                proyecto
            </strong>
        </span>
    </HeroGradient>
    <div
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="200"
    >
        <ContactForm client:load />
    </div>
</Layout>

<!-- recaptcha v3 -->
<script async src={'https://www.google.com/recaptcha/api.js?render=' + SITE_KEY}></script>