---
import Layout from '@/layouts/Layout.astro';
import HeroGradient from '@/components/HeroGradient.astro';
import GaleriaProyectos from '@/components/proyectos/GaleriaProyectos.astro';
---

<Layout
    title="Proyectos | Tres Veces Tres"
    canonical="https://tresvecestres.com.ar/proyectos"
    metaDescription="Conocé los proyectos más destacados de comunicación y marketing de Tres Veces Tres"
    metaImg="/images/logo-letras-fondo.webp"
>
    <HeroGradient>
        <span class="flex flex-col items-start w-fit mx-auto text-left">
            <strong class="font-semibold sm:font-bold ml-4 sm:ml-12 md:ml-20">Comunicamos</strong>
            <span class="italic  max-xs:text-3xl font-light ml-6 xs:ml-24 sm:ml-32 md:ml-64">para conectar.</span>
            <strong class="font-semibold sm:font-bold mt-2 md:mt-4">Conectamos</strong>
            <span class="italic max-xs:text-3xl font-light ml-4 xs:ml-8 sm:ml-16 md:ml-32">para transformar.</span>
        </span>
    </HeroGradient>
    <GaleriaProyectos />
</Layout>
