---
import Layout from '@/layouts/Layout.astro';
import HeroGradient from '@/components/HeroGradient.astro';
import ServiciosGrid from '@/components/servicios/ServiciosGrid.astro';
import CtaWhatsapp from '@/components/index/CtaWhatsapp.astro';
---

<Layout
    title="Servicios | Tres Veces Tres"
    canonical="https://tresvecestres.com.ar/servicios"
    metaDescription="Identidad de marca, comunicación integral y consultoría de triple impacto. Diseñamos planes de negocio, campañas 360° y desarrollamos sitios web sostenibles."
    metaImg="/images/logo-letras-fondo.webp"
>
    <HeroGradient>
        <span class="flex flex-col items-center w-fit mx-auto">
            <span
                class="italic font-light"
                data-aos="fade-down"
                data-aos-duration="700"
            >
                Trabajamos para
            </span>
            <strong
                class="font-semibold sm:font-bold"
                data-aos="fade-down"
                data-aos-duration="700"
                data-aos-delay="150"
            >
                multiplicar
            </strong>
            <span class="flex flex-col sm:flex-row items-center gap-3 md:gap-4">
                <strong
                    class="font-semibold sm:font-bold"
                    data-aos="fade-down"
                    data-aos-duration="700"
                    data-aos-delay="300"
                >
                    el impacto
                </strong>
                <span
                    class="text-white sm:max-w-32 text-base md:text-xl font-medium leading-tight text-left block"
                    data-aos="fade-down"
                    data-aos-duration="700"
                    data-aos-delay="450"
                >
                    de cada proyecto.
                </span>
            </span>
        </span>
    </HeroGradient>
    <ServiciosGrid />
    <CtaWhatsapp />
</Layout>
