---
---

<header class="fixed top-0 w-full z-50 ">
    <nav class="container max-w-6xl mx-auto flex items-center justify-between px-8 py-6">
        <a href="/">
            <img src="/images/logos/logo-blanco-letras.svg" alt="logo Tres Veces Tres" class="w-20" />
        </a>
	
		<ul class="flex gap-10 text-white text-sm font-semibold tracking-widest uppercase">
			<li><a href="#proyectos" class="hover:opacity-70 transition-opacity">Proyectos</a></li>
			<li><a href="#servicios" class="hover:opacity-70 transition-opacity">Servicios</a></li>
			<li><a href="#contacto" class="hover:opacity-70 transition-opacity">Contacto</a></li>
		</ul>
	</nav>
</header>
