---
---
<section
    id="hero-gradient"
    class="flex h-120 items-center justify-center pt-32"
>
    <div class="relative z-10 px-4 text-center max-w-5xl">
        <h1 class="text-white text-4xl sm:text-5xl xl:text-6xl font-normal md:leading-none md:tracking-tight">
            <slot />
        </h1>
    </div>
</section>

<style>
    #hero-gradient {
        background:
            radial-gradient(ellipse at 90% 90%, rgb(239, 166, 86) 0%, transparent 40%),
            radial-gradient(ellipse at 1% 1%, rgb(239, 166, 86) 0%, transparent 25%),
            radial-gradient(ellipse at 10% 50%, rgb(67, 88, 94) 0%, transparent 60%),
            rgb(50, 68, 74);
    }
</style>
