---
---
<section class="relative bg-white overflow-hidden py-24 md:py-32">

    <div class="max-w-6xl mx-auto px-8 md:px-16">
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-0 lg:gap-8 xl:gap-16 items-center">

            <!-- Formulario -->
            <form class="flex flex-col gap-4 z-10">
                <input
                    type="text"
                    name="nombre"
                    placeholder="Nombre y Apellido"
                    required
                    class="border-2 border-black px-5 py-5 w-full text-sm font-medium italic placeholder:font-medium placeholder:italic placeholder:text-black focus:outline-none bg-transparent"
                />
                <input
                    type="tel"
                    name="telefono"
                    placeholder="Teléfono"
                    class="border-2 border-black px-5 py-3 w-full text-sm font-medium italic placeholder:font-medium placeholder:italic placeholder:text-black focus:outline-none bg-transparent"
                />
                <input
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    required
                    class="border-2 border-black px-5 py-3 w-full text-sm font-medium italic placeholder:font-medium placeholder:italic placeholder:text-black focus:outline-none bg-transparent"
                />
                <textarea
                    name="mensaje"
                    placeholder="Mensaje"
                    rows="5"
                    required
                    class="border-2 border-black px-5 py-4 w-full text-sm font-medium italic placeholder:font-medium placeholder:italic placeholder:text-black focus:outline-none bg-transparent resize-none"
                ></textarea>
                <div class="flex justify-end mt-2">
                    <button
                        type="submit"
                        class="px-10 py-3 text-white font-bold tracking-widest uppercase text-xs bg-linear-to-r from-degrade-2 via-degrade-3 to-degrade-3 cursor-pointer transition-opacity duration-300 hover:opacity-90"
                    >
                        ENVIAR
                    </button>
                </div>
            </form>

            <!-- Logo decorativo (solo desktop) -->
            <div class="flex md:w-120 lg:w-150 xl:w-160 md:relative">
                <img
                    src="/images/logos/tresvecestres/logo-negro.svg"
                    alt="logo Tres Veces Tres"
                    aria-hidden="true"
                    class="w-full absolute md:-right-8 lg:-right-10 xl:static top-1/2 -translate-y-1/2 xl:translate-y-0 opacity-2 md:opacity-30 pointer-events-none select-none"
                />
            </div>

        </div>
    </div>

</section>
