---
---
<section class="mt-4 sm:mt-24">
    <div class="relative lg:container lg:mx-auto">
        <div class="relative">
            <div class="lg:max-w-6xl max-sm:w-full absolute top-10 sm:top-20 md:top-28 lg:top-32 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center justify-center">
                <h2 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-light text-center px-6 text-white drop-shadow-lg">Inspiración para el desarrollo del isotipo</h2>
            </div>
            <img
                src="/images/proyectos/vodem/inspiracion.webp"
                alt="inspiración para logo de Vodem: La imagen muestra un bloque tridimensional en corte, como una sección del suelo. En la parte superior hay césped con algunas piedras, y debajo se observan varias capas diferenciadas: tierra, arena y distintos tipos de rocas más compactas hacia la base. Dos recuadros semitransparentes resaltan capas específicas, sugiriendo un enfoque explicativo o técnico de la composición del terreno."
                class="w-full h-auto max-h-screen object-cover lg:rounded-xl"
            />
            <div class="max-sm:bg-[#07080e] max-sm:py-4 sm:w-full md:max-w-2xl sm:absolute sm:bottom-0 lg:-bottom-8 xl:bottom-0 sm:left-1/2 sm:-translate-x-1/2 sm:-translate-y-1/2 flex items-center justify-center">
                <p class="text-sm sm:text-base md:text-lg lg:text-xl font-light text-center max-sm:px-4 text-white drop-shadow-lg">
                    Representa la superposición de capas que conforman los sistemas de pisos industriales. Intensifica el valor de la innovación y solidez desde la base.
                </p>
            </div>
        </div>
    </div>
</section>
