---
---
<section class="my-4 sm:my-24">
    <div class="relative lg:container lg:max-w-6xl lg:mx-auto">
        
        <div class="relative">
            <div class="max-sm:mx-auto sm:absolute w-full max-w-lg md:max-w-xl sm:top-6 md:top-8 lg:top-10 sm:left-1/2 sm:-translate-x-1/2 sm:-translate-y-1/2 flex items-center justify-center">
                <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-light text-center px-8 text-black drop-shadow-lg">Diseño y desarrollo web sostenible</h2>
            </div>
            <img
                src="/images/proyectos/vodem/web.webp"
                alt="sitio web de Vodem"
                class="w-full h-auto object-cover lg:rounded-xl"
            />
        </div>
        <div class="sm:absolute sm:-bottom-28 sm:left-1/2 sm:-translate-x-1/2 sm:-translate-y-1/2 z-10">
            <img
                src="/images/proyectos/sello-carbon-neutral.svg"
                alt="Sello Carbon Neutral"
                class="w-28 sm:w-36 lg:w-44 mx-auto"
            />
        </div>
    </div>
</section>
