---
import TeamCarousel from "./TeamCarousel";
---

<section class="bg-white py-24 md:py-32 overflow-hidden">
    <div class="container max-w-6xl mx-auto px-8 md:px-16">
        <div class="flex flex-col md:flex-row md:items-start gap-16">

            <!-- Título alineado a la izquierda -->
            <div class="md:flex-1 flex items-center md:items-start md:pt-4">
                <h2 class="text-4xl md:text-5xl font-black leading-none tracking-widest">
                    Somos
                    <!-- <span class="uppercase">EQUIPO</span> -->
                </h2>
            </div>

            <!-- Carousel alineado a la derecha -->
            <div class="md:flex-2">
                <TeamCarousel client:visible transition:persist />
            </div>

        </div>
    </div>
</section>
