---
import Layout from '@/layouts/Layout.astro';
import HeroProyecto from '@/components/proyectos/HeroProyecto.astro';
import LogoDev from '@/components/proyectos/LogoDev.astro';
import MockupRight from '@/components/proyectos/MockupRight.astro';
import SocialMediaBtoB from '@/components/proyectos/btobcomex/SocialMediaBtoB.astro';
import WebSostenibleBtoB from '@/components/proyectos/btobcomex/WebSostenibleBtoB.astro';
import OtrosProyectos from '@/components/proyectos/OtrosProyectos.astro';
---

<Layout
    title="BTOB Comex | Tres Veces Tres"
    canonical="https://tresvecestres.com.ar/proyectos/btobcomex"
    metaDescription="Conocé el trabajo de Tres Veces Tres para BTOB Comex: investigación de mercado, desarrollo de marca, comunicación digital y diseño web."
    metaImg=""
    preLoad={[
        { as: "image", href: "/images/proyectos/btobcomex/canton-fair-2014-china.webp", type: "image/webp" }
    ]}
>
    <HeroProyecto
        bgImage="/images/proyectos/btobcomex/canton-fair-2014-china.webp"
        logo="/images/logos/empresas/btobcomex.svg"
        alt="BtoB Comex"
        transitionName="btobcomex"
    >
        <p class="text-lg lg:text-xl leading-relaxed text-white italic">
            Investigación de mercado y diagnóstico.<br />
            Desarrollo de marca.<br />
            Estrategia y gestión de comunicación digital.<br />
            Pauta publicitaria.<br />
            Diseño y desarrollo web sostenible.
        </p>
    </HeroProyecto>
    <LogoDev
        logo="/images/proyectos/btobcomex/logo-dev.svg"
        alt="Construcción y proporciones del logo BTOB Comex"
    >
        Creatividad
        y desarrollo
        de marca
    </LogoDev>
    <MockupRight 
        image="/images/proyectos/btobcomex/mockup.webp"
        alt="mockup del sitio web de BTOB Comex en laptop y móvil"
        size="lg"
    />
    <SocialMediaBtoB />
    <WebSostenibleBtoB />
    <OtrosProyectos exclude="btobcomex" />
</Layout>
