---
---
<section
    id="hero-proyectos"
    class="flex h-120 items-end justify-center bg-white mb-32"
>
    <div class="max-w-4xl w-content overflow-hidden">
        <h1 class="text-black leading-none tracking-tight">
            <span class="text-5xl md:text-7xl font-black block text-right">Comunicar</span>
            <span class="text-5xl md:text-7xl font-light italic block text-left">para conectar.</span>
            <span class="text-5xl md:text-7xl font-black block text-center">Conectar</span>
            <span class="text-5xl md:text-7xl font-light italic block text-left">para transformar.</span>
        </h1>
    </div>
</section>
