---
interface Props {
    logo: string;
    alt: string;
    size?: string;
}

const { logo, alt, size = "lg" } = Astro.props;
---
<section class="mt-4 sm:mt-10 pb-24 container mx-auto px-8">
    <section
        class="text-center mb-12 sm:mb-16"
        data-aos="fade-down"
        data-aos-duration="800"
    >
        <h2 class="text-2xl xs:text-3xl sm:text-4xl lg:text-5xl max-w-xl mx-auto font-light">Íconos que conforman el Isotipo</h2>
    </section>
    <div
        class="flex justify-center"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-delay="150"
    >
        <img
            src={logo}
            alt={alt}
            loading="lazy"
            class:list={[
                "w-full h-full md:w-auto sm:h-auto rounded-sm",
                size === "lg" && "md:max-h-130 xl:max-h-190",
                size === "md" && "md:max-h-110 xl:max-h-150",
                size === "sm" && "md:max-h-90 xl:max-h-120"
            ]}
        />
    </div>
</section>