---
interface Props {
    image: string;
    alt: string;
    size?: "sm" | "md" | "lg";
}

const { image, alt, size = "lg" } = Astro.props;
---
<section
    class="mb-24 h-full relative"
    data-aos="fade-up"
    data-aos-duration="800"
>
    <div class:list={[
        "absolute z-10 w-full left-0 top-1/2 -translate-y-1/2 bg-[#686868]",
        size === "lg" && "h-48 sm:h-80 md:h-96 lg:h-110 xl:h-140",
        size === "md" && "h-40 sm:h-72 md:h-80 lg:h-96 xl:h-120",
        size === "sm" && "h-32 sm:h-56 md:h-72 lg:h-80 xl:h-110",
    ]}>
    </div>
    <div class="container sm:px-4 flex items-center justify-end relative">
        <img
            src={image}
            alt={alt}
            loading="lazy"
            class="z-20 relative w-full h-full md:w-auto sm:h-auto md:max-h-130 xl:max-h-190 rounded-sm"
        />
    </div>
</section>